<script>
  import { Link } from "svelte-routing";
  const url = "http://localhost:8080/";
  const endpoint = url + "api/v1/orders/";
  let cart = [];

  let kunde = {
    customerID: "ASDFGJ1236",
    customerFirstname: "Günther",
    customerLastname: "Maier",
    customerEmail: "guenther@maier.it",
    customerStreet: "Am Fluss 35",
    customerZipcode: "5648",
    customerCity: "Flusshausen",
    customerCountry: "AT",
    cartItems: [],
  };

  let products = [
    {
      productNumber: "P123454239",
      productName: "Apple",
      priceNet: 10,
      tax: 1,
      amount: 1,
    },
    {
      productNumber: "P134456789",
      productName: "Orange",
      priceNet: 11,
      tax: 1,
      amount: 1,
    },
    {
      productNumber: "P123456743",
      productName: "Grapes",
      priceNet: 12,
      tax: 1,
      amount: 1,
    },
    {
      productNumber: "P353456789",
      productName: "Svelte",
      priceNet: 14.92,
      tax: 1.12,
      amount: 1,
    },
  ];
  const consoleText = (input) => {
    console.log(input);
  };

  const addToCart = (product) => {
    for (let item of cart) {
      if (item.productNumber === product.productNumber) {
        product.amount += 1;
        cart = cart;
        return;
      }
    }
    cart = [...cart, product];
  };

  const minusItem = (product) => {
    for (let item of cart) {
      if (item.productNumber === product.productNumber) {
        if (product.amount > 1) {
          product.amount -= 1;
          cart = cart;
        } else {
          cart = cart.filter((cartItem) => cartItem != product);
        }
        return;
      }
    }
  };

  const plusItem = (product) => {
    for (let item of cart) {
      if (item.productNumber === product.productNumber) {
        item.amount += 1;
        cart = cart;
        return;
      }
    }
  };

  const buyItem = () => {
    kunde.cartItems = cart;
    consoleText(JSON.stringify(kunde));
    return;
  };
  const clearCart = () => {
    cart = cart.slice(cart.length);
    consoleText("Cart gelöscht");
  };

  async function placeOrder() {
    if (cart.length > 0) {
      kunde.cartItems = cart;

      consoleText(JSON.stringify(kunde));
      const response = await fetch(endpoint, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(kunde),
      });

      consoleText(JSON.stringify(kunde));
      const responseJSON = await response.json();
      if (!responseJSON.errorCode) {
        clearCart();
        consoleText("Bestellung erfolgreich abgeschickt!");
      } else {
        consoleText(responseJSON.errorCode);
      }
    } else {
      consoleText("Keine Items im Warenkorb!");
    }
  }

  $: totalSum = cart.reduce(
    (sum, item) => sum + item.priceNet * item.amount * item.tax,
    0
  );
  $: totalAmount = cart.reduce((amount, item) => amount + item.amount, 0);
</script>

<div>
  <h3>Bestell - Seite</h3>
  <Link to="buchhaltung">Buchhaltung</Link>
  <Link to="lager">Lager</Link>
</div>

<p>There are {totalAmount} items of {cart.length} Groups in your cart</p>
<div class="product-list">
  {#each products as product}
    <div>
      <div
        class="image"
        style="background-image: url(src/assets/{product.productName}.png)"
      />
      <h4>{product.productName}</h4>
      <p>€{product.priceNet}</p>
      <button on:click={() => addToCart(product)}>Add to cart</button>
    </div>
  {/each}
  <br />
</div>
<br />

<div class="cart-list">
  {#each cart as item}
    {#if item.amount > 0}
      <div class="cart-item">
        <img
          width="50"
          src="src/assets/{item.productName}.png"
          alt={item.productName}
        />
        <div>
          {item.amount}x
          <button on:click={() => plusItem(item)}>+</button>
          <button on:click={() => minusItem(item)}>-</button>
        </div>
        <p>€{item.priceNet * item.amount * item.tax}</p>
      </div>
    {/if}
  {/each}
  <div class="totalSum">
    <h4>totalSum: € {totalSum}</h4>
  </div>
  <button on:click={() => placeOrder()}>Buy Item</button>
  <button on:click={() => clearCart()}>Clear</button>
</div>

<style>
  .product-list,
  .cart-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .image {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .totalSum {
    text-align: right;
  }

  .cart-list {
    border: 2px solid;
    padding: 10px;
  }
</style>
