<script>
  import { onMount } from "svelte";
  import { Link } from "svelte-routing";
  let url = "http://localhost:8080";
  const endpoint_Order = url + "/api/v1/orders/";
  const endpoint_Check = url + "/api/v1/orders/checkpayment/";
  let orders = [];
  let promise = getOrder();

  async function getOrder() {
    const response = await fetch(endpoint_Order);
    orders = await response.json();
    if (orders.errorCode) {
      throw new Error(orders.errorMessage);
    }
    return orders;
  }

  async function payOrder(orderId) {
    const response = await fetch(endpoint_Check + orderId, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
    });
    promise = getOrder();
  }

  onMount(async function () {
    promise = getOrder();
  });
</script>

<div>
  <h3>Buchhaltung - Seite</h3>
  <Link to="/">Bestellungen</Link> |
  <Link to="lager">Lager</Link>
  <br /> ----------------------------
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th />
      </tr>
    </thead>
    <tbody>
      {#await promise}
        <p>ssss</p>
      {:then}
        {#each orders as order}
          <tr>
            <th>{order.orderID}</th>
            <td>{order.state}</td>
            <td>
              <button
                style="width: 150px"
                on:click={() => payOrder(order.orderID)}>Add to cart</button
              >
            </td>
          </tr>
        {/each}
      {/await}
    </tbody>
  </table>
</div>
