<script>
  import { onMount } from "svelte";

  import { Link } from "svelte-routing";
  let url = "http://localhost:8080";
  const endpoint_Packing = url + "/stock/packings";
  const endpoint_SetForPacking = url + "/stock/setPackedForPacking/";
  let packings = [];
  let promise = getPacking();

  async function getPacking() {
    const response = await fetch(endpoint_Packing);
    packings = await response.json();
  }

  async function packed(packingItemId) {
    const response = await fetch(endpoint_SetForPacking + packingItemId, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
    });
    promise = getPacking();
  }

  onMount(async function () {
    promise = getPacking();
  });
</script>

<div>
  <h3>Lager - Seite</h3>
  <Link to="/">Bestellungen</Link> |
  <Link to="buchhaltung">Buchhaltung</Link>
  <br /> ------------------------------------
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Bestellungs-ID</th>
        <th>Prdouct-ID</th>
        <th>Produktart</th>
        <th>Produktmenge</th>
        <th>Status</th>
        <th />
      </tr>
    </thead>
    <tbody>
      {#await promise}
        <p>ssss</p>
      {:then}
        {#each packings as packing}
          {#each packing.packingItemList as pack}
            <tr>
              <th>{packing.orderId}</th>
              <td>{pack.productNumber}</td>
              <td>{pack.productName}</td>
              <td>{pack.amount}</td>
              <td>{pack.packed == true ? "VERPACKT!" : "Verpacken"}</td>

              <button style="width: 150px" on:click={() => packed(pack.id)}
                >Add to cart</button
              >
              <td />
            </tr>
          {/each}
        {/each}
      {/await}
    </tbody>
  </table>
</div>
