<script>
  import { Router, Route } from "svelte-routing";
  import Bestellungen from "../component/Bestellungen.svelte";
  import Buchhaltung from "../component/Buchhaltung.svelte";
  import Lager from "../component/Lager.svelte";

  export let url = "";
</script>

<Router {url}>
  <div>
    <Route path="lager" component={Lager} />
    <Route path="buchhaltung" component={Buchhaltung} />
    <Route path="/" component={Bestellungen} />
  </div>
</Router>
