p{
    color: green;
}
h1{
    color: rgba(209, 66, 66, 0.5);
}
h3{
    color:cornflowerblue;
    border: 10px;
    text-transform: uppercase;
}
table {
    width: 50%;
    border-spacing: 5px;
    border: 1px solid black;
    background-color: rgb(255, 150, 143);
}
th {
    text-align: left;
    background-color: aquamarine;
}
td {
    color: darkred;
}
#aboutme{
    color: lightcoral;
}
#bild{
    color: brown;
}
.info{
    color: red;
}
.bild{
    width: 50%;
    height: 50%;
}
