
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
 

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-family:$myFont;
  font-size: $fontsize; 
  text-color: $myColor;
}

#container {
  width: $myWidth;
}
