h1{
    color: green;
    text-shadow: 2px 2px red;
}
/*Kommentar in CSS*/
h2{
    text-transform: uppercase;
    border-style:groove;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/*
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
    color: rgb(250, 250, 250);
    text-align: center;
    display: inline;
}

li a {
    display: block;
    width: 60px ;
}
*/
li a:hover {
    background-color: rgb(206, 151, 151, 0.5);
}

tr:hover {background-color: #f5f5f5;}

tr::shadow{
 border: rosybrown;
}


#main{
    color: blueviolet;
}
/*
div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}*/
img {
    float: left;
 }
 div {
     margin: 25px;
 }
div p {
    background-color: rgba(255, 160, 65, 0.5);
}
form{
    background-color: rgb(0, 128, 128, 0.5);
}

input{
    background-color: wheat;
}
input[type=text]:focus {
    background-color: lightblue;
  }
  input[type=number]:focus {
    background-color: lightblue;
  }