<script>
  import { Link } from "svelte-routing";
  let cart = [];
  let products = [
    {
      id: 1,
      name: "Apple",
      image: "src/assets/apple.png",
      price: 10,
      quantity: 1,
    },
    {
      id: 2,
      name: "Orange",
      image: "src/assets/orange.jpg",
      price: 11,
      quantity: 1,
    },
    {
      id: 3,
      name: "Grapes",
      image: "src/assets/trauben.jpg",
      price: 12,
      quantity: 1,
    },
    {
      id: 4,
      name: "Svelte",
      image: "src/assets/svelte.png",
      price: 14.92,
      quantity: 1,
    },
  ];

  const addToCart = (product) => {
    for (let item of cart) {
      if (item.id === product.id) {
        product.quantity += 1;
        cart = cart;
        return;
      }
    }
    cart = [...cart, product];
  };

  const minusItem = (product) => {
    for (let item of cart) {
      if (item.id === product.id) {
        if (product.quantity > 1) {
          product.quantity -= 1;
          cart = cart;
        } else {
          cart = cart.filter((cartItem) => cartItem != product);
        }
        return;
      }
    }
  };

  const plusItem = (product) => {
    for (let item of cart) {
      if (item.id === product.id) {
        item.quantity += 1;
        cart = cart;
        return;
      }
    }
  };

  const buyItem = () => {
    return;
  };

  $: totalSum = cart.reduce((sum, item) => sum + item.price * item.quantity, 0);
  $: totalAmount = cart.reduce((amount, item) => amount + item.quantity, 0);
</script>

<div>
  <h3>This is HomePage</h3>
  <Link to="buchhaltung">Buchhaltung</Link>
  <Link to="lager">Lager</Link>
</div>

<p>There are {totalAmount} items of {cart.length} Groups in your cart</p>
<div class="product-list">
  {#each products as product}
    <div>
      <div class="image" style="background-image: url({product.image})" />
      <h4>{product.name}</h4>
      <p>€{product.price}</p>
      <button on:click={() => addToCart(product)}>Add to cart</button>
    </div>
  {/each}
  <br />
</div>
<br />

<div class="cart-list">
  {#each cart as item}
    {#if item.quantity > 0}
      <div class="cart-item">
        <img width="50" src={item.image} alt={item.name} />
        <div>
          {item.quantity}
          <button on:click={() => plusItem(item)}>+</button>
          <button on:click={() => minusItem(item)}>-</button>
        </div>
        <p>€{item.price * item.quantity}</p>
      </div>
    {/if}
  {/each}
  <div class="totalSum">
    <h4>totalSum: € {totalSum}</h4>
  </div>
  <button on:click={() => buyItem}>Buy Item</button>
</div>
<p>
  <a
    href="https://www.youtube.com/watch?v=0NtugwTVW5Q&list=PLm_Qt4aKpfKgN-CKxJaLcfcTkpU_vjqQO&index=1"
    >Watch the tutorial</a
  >
</p>

<style>
  .product-list,
  .cart-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .image {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .totalSum {
    text-align: right;
  }

  .cart-list {
    border: 2px solid;
    padding: 10px;
  }
</style>
