ul {
    list-style-type: none;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    background-image: url("../images/aurora.jpg");
   /* background-color: rgba(143, 33, 58,0.5); */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0 1px 0;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ed1c23b0;
    color: black;
}

li a.active {
    background-color: #165a21;

}

li#about-me {
    float: right;
    color: #cdda1e;
    background-color: rgb(113, 11, 11);
}