body {
    background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
}

h1 {
    color: #ffffff;
    background-color: cadetblue;
}

h2 {
    color: #cdda1e;
    margin: 25px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}


th {
    background-color: #6e2424;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.border-style {
    padding: 2px;
    margin-left: 2px;
    margin-right: 50%;
    border-left: 6px solid red;


}

.border-style:hover {
    background-color: #8d5454;
    color: #2c4557;
    border: 1px solid transparent;
    margin-right: 50%;
}

h2.border-style{

}