<script>
  import Router from "./routes/index.svelte";
</script>

<main>
  <Router />
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }
</style>
