<script>
  import Nested from "./Nested.svelte";

  let fname = "Mr";
  let lname = "RÜ";
  let color = "blue";
  $: name = fname + " " + lname;

  let showNested = false;

  const toggle = () => {
    color = color === "blue" ? "orange" : "blue";
    showNested = !showNested;
  };
</script>

<h1 style="color: {color}">Hello {name}!</h1>

{#if showNested}
  <Nested />
{/if}

<button on:click={toggle}> Don't press the Button </button>

<style>
  h1 {
    color: orange;
  }
</style>
