h1{
    color: green;
    text-shadow: 2px 2px red;
}
/*Kommentar in CSS*/
h2{
    text-transform: uppercase;
    border-style:groove;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
tr:hover {background-color: #f5f5f5;}
